version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  backend:
    image: murlisoni/khcs:backend
    container_name: khcs-backend
    ports:
      - "4000:4000"
    environment:
      MONGODB_URI: mongodb://mongo:27017/attendancedb
    depends_on:
      - mongo

  frontend:
    image: murlisoni/khcs:frontend
    container_name: khcs-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo-data:

